---
export interface Props {
  id: string;
  title: string;
  text1: string;
  text2: string;
  projectsID: string;
  btnText: string;
}

const { id, title, text1, text2, projectsID, btnText } = Astro.props;
---

<section class="about" id={id}>
  <div class="content">
    <h2 class="title">{title}</h2>
    <p class="text">
      {text1}
      <br /><br />
      {text2}
    </p>
    <a href={projectsID} class="btn">{btnText}</a>
  </div>
</section>

<style lang="scss">
  @import "../styles/variables.scss";

  .about {
    background-color: $color-secondary;
    padding: 2rem 0;
    text-align: center;
  }
</style>
