---
export interface Props {
  id: string;
  title: string;
  text: string;
  aText: string;
  btnText: string;
  file: string;
}

const { id, title, text, aText, btnText, file } = Astro.props;
---

<section class="home" id={id}>
  <div class="home-content">
    <h2 class="home-title">{title}</h2>
    <p class="home-text">{text}</p>
    <a href="#about" class="btn">{aText}</a>
    <a href={`/assets/pdf/${file}`} class="btn" download="DanielCazarez"
      >{btnText}</a
    >
  </div>
</section>

<style lang="scss">
  .home {
    background-image: url("/assets/img/home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &-content {
      position: relative;
      z-index: 1;
      text-align: center;
    }

    &-title {
      font-size: 3rem;
      font-weight: 500;
      color: #fff;
      font-family: "Pacifico", cursive;
    }

    &-text {
      font-size: 1.5rem;
      font-weight: 400;
      color: #fff;
      margin: 1rem 0;
    }

    .btn {
      margin-right: 1em;
    }
  }
</style>
