---
export interface Props {
  project: Project;
}

export interface Project {
  name: string;
  description: string;
  image: string;
  buttons: ProjectButton[];
}

export interface ProjectButton {
  text: string;
  link: string;
}

const { project } = Astro.props;
---

<div class="projects-card">
  <img
    src={`/assets/img/${project.image}.png`}
    alt={project.name}
    class="projects-img"
  />
  <h3 class="projects-name">{project.name}</h3>
  <p class="projects-description">
    {project.description}
  </p>
  {
    project.buttons.map((button) => (
      <a href={button.link} class="btn projects-btn" target="_blank">
        {button.text}
      </a>
    ))
  }
</div>

<style lang="scss">
  @import "../styles/variables.scss";

  .projects {
    background-color: $color-tertiary;
    padding: 2rem 0;

    &-card {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      padding: 1rem;
      border-radius: 0.5rem;
    }

    &-img {
      width: 100%;
      display: block;
      border-radius: 0.5rem;
    }

    &-name {
      font-size: 1.5rem;
      font-weight: 500;
      margin: 1rem 0;
    }

    &-description {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }

    &-btn {
      margin-right: 1em;
    }
  }
</style>
